
.btn:hover {
  background-color: #fde5db;
  color:#003a83;
  border: none;}
.navbar{
  color:#d2a9b8;
}

/* Why is my nav bar not colored?? */



@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:300,400,500');

body {
  font-family: 'LibreFranklin';
  background-color: #fde5db;
}


.AE {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: #003a83;

  }

.card-text{
  font-size:45px;
}

.AboutText {
    text-align: left;
    font-family: 'LibreFranklin';
    color: #003a83;
    margin-left: 5%;
    float: right;


}

.parentContainer {
  display: flex;
  color:#003a83 
 }

 .flexChild {
   padding: 10px;
   margin: 10px;
   flex: 200px;
 }

 h2{
  text-align: left;
  font-weight:bold;
}
.ol{
  text-align: left;
}

/*
 .container {
   display: flex;
   color:#003a83;
 }
 */

h1 {
  text-align: center;
  font-family: 'LibreFranklin';
  font-size: 40px;
  font-weight: normal;
  color: #003a83;
}

/* card Styling*/
img {
  width: 100%;
  vertical-align: middle;

}

.card-group {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-gap: 16px;
  padding: 16px;
  grid-auto-rows: 1fr; 
}

  
  .card {
    background-color: #fde5db;
    border: none;
    
  }
  .card-text{
    color:#003a83;
    font-family: 'LibreFranklin';
    font-size: 20px;
  }
    .card-title {
      margin-bottom: .75rem;
      font-size: 1.85rem;
      font-weight: 400;
    }

    .card-subtitle {
      margin-top: -.375rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 500;
      color: #6c757d;
    }
    
    .card-body {
      padding: 16px;
  
    }    

    .card-link + .card-link {
        margin-left: 1.25rem;
    }
    
.ClickHere{
  font-style: normal;
  text-align: center;
  color: #003a83;
  font-family: 'LibreFranklin';
  font-size: 25px;
}


.CaseStudies{
  font-style:italic;
  text-align: center;
  color: #003a83;
  font-family:'LibreFranklin';
  font-size:25px;
 

}

.LinkedIn{
  font-style: italic; 
  text-align: center;
  color: #003a83;
  font-family: 'LibreFranklin';
  font-size: 25px;
}


.Behance{
  font-style: italic; 
  text-align: center;
  color: #003a83;
  font-family: 'LibreFranklin';
  font-size: 25px;
}

}